:root {
  --background-color: #fff;
  --background-color-highlight: #E4F1F0;
  --button-background-color: #fff;
  --text-color: #000;
  --input-color: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --background-color-highlight: #131819;
    --button-background-color: #111;
    --text-color: #fff;
    --input-color: #444;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  padding: 1.75rem 1.75rem 1rem;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body {
  font-size: 1rem;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  font-family: IBM Plex Mono, monospace;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: linear-gradient(var(--background-color), var(--background-color-highlight));
}

input, button, select, textarea {
  display: block;
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  border: unset;
  outline: unset;
  background: unset;
  color: unset;
}

a {
  font: inherit;
  color: inherit;
}

/* Drag and drop styles */
.drag-handle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: grab;
  opacity: 0;
  transition: opacity 0.2s;
  user-select: none;
  -webkit-user-select: none;
  padding: 0.33rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.account-row:hover .drag-handle {
  opacity: 1;
}

.drag-handle:hover {
  opacity: 1 !important;
}

.dragging {
  cursor: grabbing;
}

.account-row {
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1);
  position: relative;
}

.button {
  user-select: none;
  -webkit-user-select: none;
  border-radius: 0.35em;
  border: 0.5px solid var(--text-color);
  border-bottom-width: 1.5px;
  border-right-width: 1px;
  padding: 0.25em 0.65em;
  background: var(--button-background-color);
  transition: scale 0.1s ease-in-out;
}

.button-primary {
  background-color: var(--text-color);
  color: var(--background-color);
}

.button:active {
  scale: 0.95;
}

.bounce {
  transition: scale 0.1s ease-in-out;
}
.bounce:active {
  scale: 0.95;
}

.input-pair {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  align-items: center;
}
.input-pair label {
  display: block;
}
.emoji-grid {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
}
.emoji-grid label {
   aspect-ratio: 1 / 1;
}

.pointer-events-none { pointer-events: none; }

.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

.transition-all { transition: all .2s ease-in-out; }

.flex   { display: flex; }
.flex-column { flex-direction: column; }
.flex-1 { flex: 1; }

.items-center    { align-items: center; }
.items-end       { align-items: flex-end; }
.justify-center  { justify-content: center; }
.justify-end     { justify-content: flex-end; }
.justify-between { justify-content: space-between }

.border-none { border: none; }
.border-t-0\.5 { border-top: 0.5px;    border-top-style: solid;    border-color: var(--text-color); }
.border-b-0\.5 { border-bottom: 0.5px; border-bottom-style: solid; border-color: var(--text-color); }
.border-l-0\.5 { border-left: 0.5px;   border-left-style: solid;   border-color: var(--text-color); }

.bg-transparent { background: transparent; }

.rounded-full { border-radius: 100% }

.leading-4 { line-height: 1rem; }
.leading-5 { line-height: 1.25rem; }
.leading-6 { line-height: 1.5rem; }

.font-sm   { font-size: 0.75rem; }
.font-base { font-size: 1rem; }
.font-lg   { font-size: 1.125rem; }
.font-xl   { font-size: 1.25rem; }
.font-2xl  { font-size: 1.5rem; }
.font-3xl  { font-size: 1.875rem; }

.text-right { text-align: right; }
.text-center { text-align: center; }

.w-full { width: 100%; }

.font-light     { font-weight: 300; }
.font-normal    { font-weight: 400; }
.font-medium    { font-weight: 500; }
.font-semibold  { font-weight: 600; }
.font-bold      { font-weight: 700; }
.font-extrabold { font-weight: 800; }

.gap-0\.5 { gap: 0.125rem; }
.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.50rem; }
.gap-3 { gap: 0.75rem; }
.gap-4 { gap: 1rem; }
.gap-5 { gap: 1.25rem; }
.gap-6 { gap: 1.5rem; }

.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.50rem; }
.ml-3 { margin-left: 0.75rem; }
.ml-4 { margin-left: 1rem; }
.ml-5 { margin-left: 1.25rem; }
.ml-6 { margin-left: 1.5rem; }

.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.50rem; }
.mt-3 { margin-top: 0.75rem; }
.mt-4 { margin-top: 1rem; }
.mt-5 { margin-top: 1.25rem; }
.mt-6 { margin-top: 1.5rem; }
.mt-7 { margin-top: 1.75rem; }
.mt-8 { margin-top: 2.0rem; }

.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.50rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mb-4 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 1.25rem; }
.mb-6 { margin-bottom: 1.5rem; }
.mb-7 { margin-bottom: 1.75rem; }
.mb-8 { margin-bottom: 2.0rem; }

.h-18 { height: 4.5rem; }
.size-10 { width: 2.5rem; height: 2.5rem; }

.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.50rem; }
.mr-3 { margin-right: 0.75rem; }
.mr-4 { margin-right: 1rem; }
.mr-5 { margin-right: 1.25rem; }
.mr-6 { margin-right: 1.5rem; }

.p-0 { padding: 0; }
.p-6 { padding: 1.5rem; }
.p-7 { padding: 1.75rem; }

.py-0 { padding-top: 0;         padding-bottom: 0; }
.py-1 { padding-top: 0.25rem;   padding-bottom: 0.25rem; }
.py-2 { padding-top: 0.5rem;    padding-bottom: 0.5rem; }
.py-3 { padding-top: 0.75rem;   padding-bottom: 0.75rem; }
.py-4 { padding-top: 1rem;      padding-bottom: 1rem; }

.px-1 { padding-right: 0.25rem; padding-left: 0.25rem; }
.px-2 { padding-right: 0.5rem;  padding-left: 0.5rem; }
.px-3 { padding-right: 0.75rem; padding-left: 0.75rem; }
.px-4 { padding-right: 1rem;    padding-left: 1rem; }
.px-5 { padding-right: 1.25rem; padding-left: 1.25rem; }
.px-6 { padding-right: 1.5rem;  padding-left: 1.5rem; }
.px-7 { padding-right: 1.75rem;  padding-left: 1.75rem; }

.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.50rem; }
.pl-3 { padding-left: 0.75rem; }
.pl-4 { padding-left: 1rem; }
.pl-5 { padding-left: 1.25rem; }
.pl-6 { padding-left: 1.5rem; }

.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.50rem; }
.pt-3 { padding-top: 0.75rem; }
.pt-4 { padding-top: 1rem; }
.pt-5 { padding-top: 1.25rem; }
.pt-6 { padding-top: 1.5rem; }

.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.50rem; }
.pb-3 { padding-bottom: 0.75rem; }
.pb-4 { padding-bottom: 1rem; }
.pb-5 { padding-bottom: 1.25rem; }
.pb-6 { padding-bottom: 1.5rem; }

.tracking-wide { letter-spacing: 0.25em; }
.uppercase     { text-transform: uppercase; }

main {
  flex: 1;
  border: 0.5px solid var(--text-color);
  border-bottom-width: 1.5px;
  border-right-width: 1px;
  border-radius: 0.85rem;
  overflow: scroll;
  transition: scale 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}
main.suspended {
  scale: 0.98;
}

.icon {
  background: var(--button-background-color);
}

#modal_overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: var(--background-color);
  opacity: 0.8;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 80%;
  }
}

@keyframes modal-slide-up {
  from {
    opacity: 0%;
    transform: scale(0.9) translateX(-50%) translateY(-40%);
  }

  to {
    opacity: 100%;
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
}

.modal {
  display: none;
  background: var(--background-color);
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: translateX(-50%) translateY(-50%);
  border: 0.5px solid var(--text-color);
  border-bottom-width: 1.5px;
  border-right-width: 1px;
  border-radius: 0.85rem;
  animation-name: modal-slide-up;
  animation-duration: 0.2s;
  overflow: hidden;
}

.modal.shown {
  display: block;
}

#modal_overlay.shown {
  display: block;
  animation-name: fade-in;
  animation-duration: 0.2s;
}

ul {
  list-style-type: square;
}
.list-none {
  list-style-type: none;
}

#undo path, #redo path {
  stroke-width: 1px;
}
#redo svg {
  transform: scaleX(-1)
}
#undo[disabled], #redo[disabled] {
  opacity: 0.5
}

.editable-text input {
  border: 0.5px solid transparent;
  border-radius: 4px;
  padding: 2px 4px;
  width: 200px;
  transition: scale 0.1s ease-in-out;
}

.editable-text input:active {
  scale: 0.98;
}

.editable-text input:hover,
.editable-text input:focus {
  border-color: var(--text-color)
}

.editable-text input {
  outline: none;
}

.account-type-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 0.5rem;
}

.select-option:has(input:checked) {
  background-color: var(--text-color);
  color: var(--background-color);
}

@media (max-width: 820px) {
  html {
    padding: 1rem 0.85rem 1rem;
  }
  main {
    border-radius: 1.5rem;
  }
}
